HAPPY_SERVER_URL=https://happyherd.example.com
HAPPY_WEBAPP_URL=https://happyherd.example.com
HAPPY_HOME_DIR=/home/example-user/.happyherd
HAPPY_DISABLE_CAFFEINATE=1
HAPPYHERD_DAEMON_CLI=/usr/local/bin/happy
PATH=/home/example-user/.local/bin:/usr/local/bin:/usr/bin:/bin
